.animate-bounce1 {
    animation: bounce1 3s infinite ease-in-out;
  }
  @keyframes bounce1 {
    0% {
      transform: translateY(-20%);
    }
    50% {
      transform: translate(0);
    }
    100% {
      transform: translateY(-20%);
    }
  }