.swiperSettling .swiper-button-next,.swiperSettling .swiper-button-prev{
  width: 40px;
  height: 40px;
  border: solid 2px #fff;
  border-radius: 50%;
}

.swiperSettling .swiper-button-next::after,.swiperSettling .swiper-button-prev::after{
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: solid 2px #fff;
  border-radius: 50%;
 
}
.swiperSettling .swiper-button-next::after{
  padding: 8px 12px 8px 15px;
}
.swiperSettling .swiper-button-prev::after{
  padding: 8px 15px 8px 12px;
}

.swiperSettling .swiper-button-next:hover,.swiperSettling .swiper-button-prev:hover{
background-color: #ffffff70;
}


@media (max-width:1024px) {
  .swiperSettling,.swiperSettling .swiper-wrapper,.swiperSettling .swiper-wrapper .swiper-slide{
    height: 450px !important;
   
}
}
@media (min-width:1024px) and (max-width:1200px) {
  .swiperSettling,.swiperSettling .swiper-wrapper,.swiperSettling .swiper-wrapper .swiper-slide{
    height: 500px !important;
}
}

@media (min-width:1200px) and (max-width:1536px) {
  .swiperSettling,.swiperSettling .swiper-wrapper,.swiperSettling .swiper-wrapper .swiper-slide{
    height: 557px !important;
}
}
@media (min-width:1536px) {
  .swiperSettling .swiper-wrapper .swiperSlideSettling{
    height: 472px !important;
}
}


@media (min-width: 1536px) {
  .settlingBorder {
    border-left: 1px solid #ff9b24 !important;
    border-right: 1px solid #ff9b24 !important;
  }
  .settlingWrapper {
    margin-top: 50px !important;
  }
}
@media (max-width: 1280px) {
  .settlingBorder {
    border-left: 1px solid #ff9b24 !important;
    border-right: 1px solid #ff9b24 !important;
  }
}
@media (max-width: 558px) {
  .settlingBorder {
    border-left: none !important;
    border-right: none !important;
  }

}

@media (max-width: 300px) {
  .imgCircle {
    display: none;
  }
  .settlingBorder,
  .perMonth,
  .settlingTeacher {
    padding: 0 !important;
  }
  .settlingWrapper {
    margin-top: 20px;
  }
  .settlingBorder {
    margin: 10px 0;
  }
}
