.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.slider-button.left {
  left: 5%;
  color: white;
  font-size: 40px;
}
.slider-button.right {
  right: 5%;
  color: white;
  font-size: 40px;
}



 
  .slick-truck,.slick-list{
   max-height: 533px !important;
   min-height:472px !important;
    
  }
  .slick-slide{
    max-height: 533px !important;
    min-height:472px !important;
  }
  .slick-slide div{
    max-height: 557px !important;
    min-height:472px !important;
  }
  .slider-button.right {
    right: 5%;
    color: white;
  }
  .slick-next,.slick-prev{
    display: none !important;
  }
  .slick-current{
    border-radius: 24px !important;
    height: 100% !important;
  }
  .slick-current div{
    border-radius: 24px !important;
  }

  @media (max-width:1022px){
    .slick-slide{
        height: 400px !important;
      }
      .slick-slide div{
      height: 400px !important;
      }
      .slick-slider{
        height: 400px !important;
      }
   
      .settlingContent{
        padding: 30px 0;
      }

      .slick-truck,.slick-list{
        max-height: 557px !important;
        min-height:472px !important;
         
       }
  }

  @media (min-width:768px){
    .slick-slide{
      max-height: 557px !important;
      }
      .slick-slide div{
      height: 557px !important;
      }
      .slick-slider{
        height: 100% !important;
        overflow: hidden;
      }
      .slick-truck,.slick-list{
        max-height: 557px !important;
        min-height:472px !important;
         
       }
  } 