.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 3px !important;
}
.swiperOur .swiper-pagination-bullet {
  width: 16px !important;
  display: inline-block;
  border-radius: 10px !important;
}
.swiperOur .swiper-pagination-bullet-active {
  background: #000 !important ;
}

.swiperOur .swiper-slide {
  margin-bottom: 40px;
}
.settlingButton:hover {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .swiperOur1 {
    max-width: 356px !important;
  }
}

@media (min-width: 1210px) {
  .itemsSlide {
    height: 100%;
  }
}



