.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 3px !important;
}
.swiper-pagination-bullet {
  width: 16px !important;
  display: inline-block;
  border-radius: 10px !important;
}
.swiper-pagination-bullet-active {
  background: #000 !important ;
}

.swiper-slide {
  margin-bottom: 40px;
}
.settlingButton:hover {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .swiper {
    max-width: 356px !important;
  }
}

@media (min-width: 1210px) {
  .itemsSlide {
    height: 100%;
  }
}

@media (min-width: 1230px) {
  .settlingBorder {
    border-left: 1px solid #ff9b24 !important;
    border-right: 1px solid #ff9b24 !important;
  }
}
@media (max-width: 1024px) {
  .settlingBorder {
    border-left: 1px solid #ff9b24 !important;
    border-right: 1px solid #ff9b24 !important;
  }
}
@media (max-width: 640px) {
  .settlingBorder {
    border-left: none !important;
    border-right: none !important;
  }
  .settlingBorder,
  .perMonth,
  .settlingTeacher {
    padding: 0 !important;
  }
}

@media (max-width: 300px) {
  .imgCircle {
    display: none;
  }
  .settlingBorder,
  .perMonth,
  .settlingTeacher {
    padding: 0 !important;
  }
  .settlingWrapper {
    margin-top: 20px;
  }
  .settlingBorder {
    margin: 10px 0;
  }
}

.animate-bounce1 {
  animation: bounce1 3s infinite ease-in-out;
}
@keyframes bounce1 {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: translateY(-20%);
  }
}
