@tailwind base;
@tailwind components;
@tailwind utilities;

/* nav .nav-drop > ul > li{
position:relative;
}


nav .nav-drop ul .dropdown{
    position:absolute;
    top: 40px;
    padding-top: 10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    opacity: 0;
    visibility: visible;
    transform: scale(0);
    transition: 300ms all;
}
nav ul .dropdown::before{
   content: '';
   border: 8px solid transparent;
   border-bottom-color: #f5f5f5;
   position: absolute;
   top: -6px;
   left:50%;
   margin-left: -16px;
}
nav .nav-drop ul li a:hover > .dropdown{
visibility: visible;
background: #fff;
color: #000;
}

nav ul .dropdown ul{ 
    background: #d72e2e;
    border-radius:  10px;
    padding: 7px;
    
}
nav ul .dropdown ul li a{
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 34px;
    padding: 0 15px;
    border-radius: 34px;
    color: #000000;
}
/* .menu > ul > li > a::after {
    content: "\f0d7";
    font-weight: 900;
    margin-left: 5px;
    color: #000;
    transition: 300ms all;
    display: inline-block;
} */

/* nav ul .dropdown ul li:hover > a {
    background: #fff;
    color: #000;
}
nav > ul > li:hover > a::after {
    transform: rotate(180deg);
}
nav > ul > li:hover > a {
    background: #fff;
}
nav > ul > li a:hover + .dropdown{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}  */
.menu {
    /* background: #eee; */
    border-radius: 10px;
    width: 700px;
    margin-bottom: 20px;
}

.menu > ul {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
}

.menu > ul > li {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
}

.menu > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
    color: #333;
    border-radius: 40px;
}

.menu > ul > li[data-dropdown] > a::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 5px;
    color: #999;
    transition: 300ms all;
    display: inline-block;
}

.menu ul .dropdown {
    position: absolute;
    top: 60px;
    left: 50%;
    padding-top: 10px;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 300ms all;
}

.menu ul .dropdown::before {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: #f5f5f5;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -12px;
}

.menu ul .dropdown ul {
    background: #f5f5f5;
    border-radius: 10px;
    padding: 7px 0;
}

.menu ul .dropdown ul li a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    padding: 0 15px;
    border-radius: 34px;
    color: #555;
}

.menu ul .dropdown ul li {
    position: relative;
    padding: 0 7px;
}

.menu ul .dropdown ul li:hover > a {
    background: #fff;
    color: #000;
}

.menu > ul > li:hover > a::after {
    transform: rotate(180deg);
}

.menu > ul > li:hover > a {
    background: #fff;
}

.menu > ul > li:hover > a + .dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.menu ul .dropdown .dropdown {
    left: 190px;
    top: 0;
    padding-left: 20px;
    margin-left: 0;
    padding-top: 0;
}

.menu ul .dropdown ul li:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.menu ul .dropdown .dropdown::before {
    border-bottom-color: transparent;
    border-right-color: #f5f5f5;
    top: 10px;
    left: 4px;
    margin-left: 0;
}

.menu ul .dropdown li[data-dropdown] > a::after {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
    color: #999;
    display: inline-block;
    transition: 300ms all;
}

.menu ul .dropdown li[data-dropdown]:hover > a::after {
    transform: rotate(-180deg);
}
